.course-item-avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.border-fresh {
  border: 1px solid lightgreen;
}

.border-future {
  border: 1px solid lightskyblue;
}