<form
  class="bg-white border p-4"
  [formGroup]="courseForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-fields d-flex flex-column mb-4">
    <mat-form-field>
      <input
        matInput
        [placeholder]="'courses.form-fields.title' | translate"
        name="name"
        formControlName="name"
      />
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        [placeholder]="'courses.form-fields.description' | translate"
        name="description"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <div class="mb-4">
      <mat-form-field class="mr-4">
        <input
          matInput
          [matDatepicker]="picker"
          [placeholder]="'courses.form-fields.date' | translate"
          name="creationDate"
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="mr-4">
        <input
          matInput
          [placeholder]="'courses.form-fields.duration' | translate"
          name="duration"
          formControlName="length"
        />
      </mat-form-field>

      <mat-slide-toggle name="isTopRated" formControlName="isTopRated">
        {{ "courses.form-fields.top-rated" | translate }}
      </mat-slide-toggle>
    </div>

    <app-author formControlName="authors"></app-author>

    <!-- <mat-form-field class="authors-list">
      <mat-chip-list #chipList aria-label="Author selection">
        <mat-chip
          *ngFor="let author of course.authors"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(author)"
        >
          {{ author.name }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          [placeholder]="'courses.form-fields.authors' | translate"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field> -->
  </div>

  <div>
    <button
      mat-raised-button
      color="primary"
      class="mr-4"
      type="submit"
      [disabled]="!courseForm.valid"
    >
      {{ "core.buttons.btn-save" | translate }}
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()" type="button">
      {{ "core.buttons.btn-cancel" | translate }}
    </button>
  </div>
</form>
