<header>
  <mat-toolbar color="primary">
    <div class="container">
      <div class="row">
        <div class="col">
          <app-logo (click)="redirectToMainRoute()">
            <span>{{ "core.brand" | translate }}</span>
          </app-logo>
        </div>

        <div class="col-auto">
          <button mat-button [matMenuTriggerFor]="language">
            {{ translate.currentLang | slice: 0:2 | uppercase }}
          </button>
          <mat-menu #language="matMenu">
            <button
              mat-menu-item
              *ngFor="let lang of translate.getLangs()"
              (click)="translate.use(lang)"
            >
              {{ "core.lang." + lang | translate | uppercase }}
            </button>
          </mat-menu>

          <button
            *ngIf="!(authService.isUserLoggedIn | async)"
            mat-button
            (click)="onLogin()"
          >
            {{ "core.login" | translate }}
          </button>
          <button
            *ngIf="authService.isUserLoggedIn | async"
            mat-button
            (click)="onLogout()"
          >
            {{ "core.log-off" | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
