<header>
  <mat-toolbar color="primary">
    <div class="container">
      <div class="row">
        <div class="col">
          <app-logo (click)="redirectToMainRoute()">
            <span>{{ "core.brand" | translate }}</span>
          </app-logo>
        </div>

        <div class="col-auto">
          <button
            *ngIf="!(authService.isUserLoggedIn | async)"
            mat-button
            (click)="onLogin()"
          >
            {{ "core.login" | translate }}
          </button>
          <button
            *ngIf="authService.isUserLoggedIn | async"
            mat-button
            (click)="onLogout()"
          >
            {{ "core.log-off" | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
