<header>
  <mat-toolbar color="primary">
    <div class="container">
      <div class="row">
        <div class="col">
          <app-logo (click)="onClick()">
            <span>Video Courses</span>
          </app-logo>
        </div>

        <div class="col-auto">
          <button *ngIf="!isAuthenticated" mat-button (click)="onLogin()">
            login
          </button>
          <button *ngIf="isAuthenticated" mat-button (click)="onLogout()">
            Log off
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
