<div class="courses-list">
  <div class="container">
    <div class="row mt-4 mb-4">
      <div class="col">
        <app-courses-list-search
          (findEvt)="onFindEvt($event)"
          (resetEvt)="onResetEvt()">
        </app-courses-list-search>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col text-right">
        <button
          class="add-course-btn"
          mat-raised-button
          color="primary"
          (click)="onAddCourse($event)">
          Add course
        </button>
      </div>
    </div>

    <div class="row" *ngIf="courses; else noDataMessage">
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let course of courses; let i = index">
        <app-courses-list-item
          [course]="course"
          (deleteCourseEvt)="onDeleteCourse(course)"
          (editCourseEvt)="onEditCourse(course)">
        </app-courses-list-item>
      </div>

      <div class="col-12 mb-4 text-center">
        <button
          class="load-more-btn"
          mat-raised-button
          color="primary"
          (click)="onLoadMore($event)">
          Load more
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noDataMessage>
  <div class="row">
    <div class="col-12 mb-4 text-center">
      <div class="bg-white border p-4">
        {{ noDataMessageText | uppercase }}
      </div>
    </div>
  </div>
</ng-template>
