<app-breadcrumbs [courseTitle]="course?.title"></app-breadcrumbs>

<div class="courses-list">
  <div class="container">
    <div class="row mt-4 mb-4">
      <div class="col">
        <h1 class="bg-white border p-4">{{ title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-course-form
          *ngIf="course"
          [course]="course"
          (submitEvt)="onSubmit($event)"
          (cancelEvt)="onCancel()"
        ></app-course-form>
      </div>
    </div>
  </div>
</div>
