/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  background: #EFEFEF;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

.bg-white {
  background: #ffffff;
}

.border {
  border: 1px solid #e7e6e6;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.dark-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.mat-form-field {
  margin-bottom: 10px;
}
