<div class="row">
  <div class="col">
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div mat-dialog-content>
      <p>{{ data.question }}</p>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <div class="row">
    <div class="col">
      <button mat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>
        No Thanks
      </button>
    </div>
    <div class="col">
      <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>
        Ok
      </button>
    </div>
  </div>
</div>