<div class="row">
  <div class="col">
    <h1 mat-dialog-title>{{ data.title | translate }}</h1>
    <div mat-dialog-content>
      <p>{{ data.question | translate }}</p>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <div class="row">
    <div class="col">
      <button
        mat-button
        color="primary"
        [mat-dialog-close]="false"
        cdkFocusInitial
      >
        {{ "core.buttons.btn-no-thanks" | translate }}
      </button>
    </div>
    <div class="col">
      <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>
        {{ "core.buttons.btn-ok" | translate }}
      </button>
    </div>
  </div>
</div>
